<div class="d-flex flex-column align-items-center justify-content-center mt-5">
  <img src="/404.png" alt="404" width="350px" height="200px" />
  <h5 class="text-center mt-3">Page Not Found</h5>
  <a href="/" class="btn btn-primary btn-sm mt-1">Go Home</a>
</div>
