body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
}
.navbar,
.footer {
  background-color: #1f1f1f !important;
}
.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
}
.btn-primary {
  background-color: #0f5132;
  border-color: #0f5132;
}
.btn-primary:hover {
  background-color: #0d4b2e;
  border-color: #0f5132;
}
.dropdown-menu {
  background-color: #1f1f1f !important;
}
.dropdown-item:hover {
  background-color: #333 !important;
}
.bi {
  font-size: 15px;
}
.row-primary {
  background-color: #1f1f1f !important;
}
.row-secondary {
  background-color: #1f1f1f !important;
}
input,
#dropzone,
select {
  background-color: transparent !important;
  color: #e0e0e0 !important;
  border: 1px solid #333 !important;
}
textarea {
  background-color: transparent !important;
  color: #e0e0e0 !important;
  border: 1px solid #333 !important;
}
input:disabled {
  background-color: #2a2a2a !important;
  cursor: not-allowed !important;
}
.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
option {
  background-color: #121212 !important;
  border: none !important;
}
